@import url(./components/banner.css);
@import url(./components/navbar.css);
@import url(./components/profile.css);
@import url(./components/footer.css);
@import url(./components/cards.css);


/* body */
.body {
  font-family: 'Roboto'!important;
  /* color:hsla(0, 0%, 0%, 1) */
}

.btn:hover{
  background-color: #FEA330!important;
}

.page-layout{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.personal-box{
  background-color: #308BFE;
}

.modal-header{
  background-color: #FEA330;
}

.modal-body{
  background-color: #308BFE;
}
