@import url(./components/banner.css);
@import url(./components/navbar.css);
@import url(./components/profile.css);
@import url(./components/footer.css);
@import url(./components/cards.css);

/* second banner box */
.second-banner{
  background-color: #FEA330;
  padding: 5px;
}

.banner a{
  color:white;
}

.btn:hover{
  color:white!important;
  background-color: #FEA330!important;
}
