/* navbar */
.navbar-lewagon {
  justify-content: space-between;
  background: #FEA330;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand{
  color: #FEA330!important;
}
.nav-item .nav-link{
  color: #FEA330!important;
}

.nav-item .nav-link:hover{
  color: #308BFE!important;
}
/* banner */
.banner {
  background-size: cover;
  background-position: center;
  padding: 10px;
  background-color:#308BFE;
  width: auto;
  margin-top: 1rem;
  padding: 2rem 2rem;

}

.banner-puzzle-piece img{
  max-width: 50%;
  max-height: 50px;
}
.banner-header{
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #FEA330;
  transition: background 0.3s ease;
}

/* second banner box */
.second-banner{
  background-color: #FEA330;
  padding: 5px;
}
/* profile box */
img {
  margin: inherit;
  position: inherit;
}

.avatar-bordered {
  width: 50px;
  height: 300px;
  border-radius: 0%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

.clear-opacity {
  opacity: 1.0;
  align-self: center;
}


.profile-divider {
  border: 1px solid black;
  padding: 2rem 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
}
.profile-info {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}
.profile-info.avatar-bordered {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 20px;
  margin-top: 8px;
}

.nobull {
  list-style-type: none;
}

li {
  display: inline;
  padding: 0px 20px;
}

.avatar-bordered {
  width: 300px;
  border-radius: 60%;
  /* box-shadow: 0 1px 2px rgba(0,0,0,0.2); */
  /* border: white 1px solid; */
}

/* footer */
.footer {
  background: #F4F4F4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}

.footer-links {
  display: flex;
  align-items: center;
}

.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
#footer-color {
  color:black;
}
