/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: white;
}

.footer-links {
  display: flex;
  align-items: center;
}

#footer-color {
  color:white;
}

.footer-item .footer-icon a:hover{
  color: #308BFE!important;
}
