/* footer */
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #FEA330;
}

/* .footer-links {
  display: flex;
  align-items: center;
} */

.footer-item .footer-icon a:hover{
  color: #308BFE!important;
}
