/* navbar */
.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand h2{
  color:white;
}

.nav-item .nav-link{
  color: white;
}

.nav-item .nav-link:hover{
  color: #FEA330!important;
}

.navbar-toggler{
  border-color: #FEA330!important;
}

.navbar-toggler:focus{
  box-shadow: none!important;
}
