/* navbar */
.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-brand{
  color: #FEA330!important;
}
.nav-item .nav-link{
  color: #FEA330!important;
}

.nav-item .nav-link:hover{
  color: #308BFE!important;
}
